SurveyMonster_ASP_Client/Connected Services/SurveyMonsterService/SurveyWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2341/SurveyWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SurveyWCF" />
  <xs:import schemaLocation="http://localhost:2341/SurveyWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SurveyWCF" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SurveyWCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveSurveys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveSurveysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="GetAllActiveSurveysResult" nillable="true" type="q3:ArrayOfSurvey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SurveyId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="Q" nillable="true" type="q4:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSurvey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="S" nillable="true" type="q5:Survey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSurveyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="CreateSurveyResult" nillable="true" type="q6:Survey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTranscript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="NewTranscript" nillable="true" type="q7:Transcript" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTranscriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="SaveTranscriptResult" nillable="true" type="q8:Transcript" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="GetQuestionAnswerResult" nillable="true" type="q9:PossibleAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionPossibleAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionPossibleAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuestionPossibleAnswersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SurveyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSurveyQuestionsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurvey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SurveyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="GetSurveyResult" nillable="true" type="q10:Survey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSurveys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSurveysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SurveyWCF.SurveyWCF" minOccurs="0" name="GetAllSurveysResult" nillable="true" type="q11:ArrayOfSurvey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>